body{
    background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
    color: white;
    display: block;
    text-align: center;
    font-size: 60px ;
}

button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    border-radius: 10px;
    border-color: #000;
    &:hover{
        background-color: #43C6AC;
        color: #fff;
        font-size: 26px;
        border-color: #fff;
        
    }
}
h2{
    color: white;
    display: block;
    text-align: center;
    font-size: 50px ;
    margin-top: 30px;
}
ul{
    list-style: none;
    color: #fff;
    font-size: 25px;
    display: block;
    text-align: center;
}